{%extends 'all-pics/base.html'%}

{% block content %}
<div class="container">
    <div class="row text-center">
        {% if categories %}
        <h2>Found {{ categories|length }} images of {{ message }} category </h2>
        {% else %}
        <h2> Found 0 image results for the {{ message }} category</h2>
        {% endif %}
    </div>



    <div class="card-columns">
        {% if categories %}
        {% for category in categories %}
        <div class="card" data-toggle="modal" data-target="#q{{category.id}}">
            <img src="{{category.image.url}}" alt="{{category.image_name}}" class="card-img">
        </div>

        <!--modal-->
        <div class="modal fade " id="q{{category.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modalcard">
                    <div class="modal-header">
                        <h5 class="modal-title d-block mx-auto" id="exampleModalLongTitle">{{category.image_name}}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="{{category.image.url}}" alt="{{category.image_name}}" width="auto" height="auto"
                            class="img-fluid">
                        <p>{{category.image_description}}</p>
                        <span class="btn btn-sm btn-outline-success">{{category.category | title}}</span> <a
                            href="/location/{{category.location}}"
                            class="btn btn-sm btn-outline-info">{{category.location}}</a>
                    </div>
                    <div class="modal-footer">
                        <input class="form-control input-lg" type="text" value="{{category.image.url}}"
                            id="{{image.id}}.url">
                        <button class="btn btn-success btn-sm" onclick="copyLink('{{category.id}}.url')">Copy</button>
                        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>


        {% endfor %}
        {% endif %}
    </div>


</div>
{% endblock %}