.jumbotron {
    background-image: url("../pics/img7.jpg");
    color: black;

}

body {
    background-image: url("../pics/img40.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.97;

}