{%extends 'all-pics/base.html'%}

{% block content %}
<div class="container">
    <h1 class="text-center" style="color: white;"> These are pics from this location</h1>

    <div class="card-columns">
        {% for location_image in location_images %}
        <div class="card" data-toggle="modal" data-target="#q{{location_image.id}}">
            <img src="{{location_image.image.url}}" alt="{{location_image.image_name}}" class="card-img">
        </div>


        <!-- Modal -->
        <div class="modal fade" id="q{{location_image.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">{{location_image.image_name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="card-img-top img-responsive" id="img{{location_image.id}}"
                            src="{{location_image.image.url}}" width="auto" height="auto" alt="Card image cap">
                        <p class="card-text photo ">Photo description : {{location_image.image_description}}.</p>
                        <p class="card-text shot">Shot in : {{location_image.location}}</p>
                        <p class="card-text cate">Category : {{location_image.category}}</p>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
                            <input id="{{location_image.id}}-url" class="form-control input-md responsive" type="text"
                                value="{{location_image.image.url}}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success btn-sm"
                            onclick="copyLink('{{location_image.id}}.url')">Copy</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</div>
{% endblock %}